# Python
__pycache__/
*.pyc
.venv/
venv/

# Models
*.h5
*.keras
*.pth

# Dataset
dataset/
training/
single_prediction/

# Node
frontend/node_modules/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db